/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */

ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
    font-family:'Patrick';
    src: url('../assets/fonts/PatrickHand-Regular.ttf');
}
.wrapper{
    font-family:'Patrick';
    color: darkkhaki;
}
/* HEADER */
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: rgb(5, 19, 61);
    position: relative;
}
.header ul{
    display: flex;
    list-style-type: none;
    gap:20px;
}
.header a{
    color: darkkhaki;
    font-size: 24px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
.header a:hover{
    color:aqua;
    border-bottom:2px solid darkkhaki;
}
.header img{
    width: 100px;
    height: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 3px solid darkkhaki;
    border-radius: 10px;
}
.header__changer{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header__changer input{
  background-color: darkkhaki;
}
.header__changer select{
  background-color:darkkhaki ;
}
.header__changer button{
  background-color:darkkhaki;
}
.header i{
  display: none;
}

/* MAIN */
.main{
    display: flex;
}
.main__block{
    min-height: calc(100vh - 76px);
    width: 50%;
    flex: 1 1 auto;
}
.main__block-left{
    display: flex;
    flex-direction: column;
    gap:50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 50px;
    background-image: url('./img/bg.webp');
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.main__block-left p{
    width: 80%;
    background-color: rgba(0,0,0,0.8);
    padding: 15px;
    border-radius: 10px;
}
.main__block-left h3{
  background-color: rgba(0,0,0,0.8);
  padding: 20px;
  border-radius: 15px;
}
.main__block-right{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.main__form{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap:30px;
}
.main__form input{
    width: 50%;
    height: 50px;
    border-radius: 5px;
    border: 3px solid darkkhaki;
}
.main__block h3{
    font-size: 34px;
    text-transform: uppercase;
}
.main__form button{
    width: 30%;
    border-radius: 10px;
    border:3px solid darkkhaki;
    font-size: 34px;
    color:darkkhaki;
    background-color:transparent;
}
.article{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap:50px;
}
.article__block h4{
    font-size: 36px;    
}
.article__block{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.article__link{
    display: inline;
    font-size: 20px;
    color:rgb(10, 22, 154);
}
/* VIDEO */

.video__block{
  width: 50%;
  height: 100vh;
  background-color:darkkhaki;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* FOOTER */
.footer{
  padding: 15px 40px;
  background-color: rgb(5, 19, 61);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  font-size: 24px;
  color:darkkhaki;
}
.footer__links{
  display: flex;
  gap:20px;
}
.footer a{
  color:darkkhaki;
}

/* MEDIA */
@media(max-width: 850px){
  .header__links{
    position: absolute;
		 top:68px;
		 left: 0px;
		 background-color:rgb(5, 19, 61);
		 height:100vh;
		 width: 100%;
		 margin: 0;
     padding: 0;
		 padding-top:50px;
		 flex-direction: column;
		 justify-content: flex-start;
		 align-items: center;
		 transform: translateX(-100%);
		 transition: 0.4s ease all;
		 z-index: 10;
  }
  .header a{
    font-size: 40px;
  }
  .header__links.active{
    transform: translateX(0%);
  }
  body.active{
    overflow: hidden;
  }
  .header i{
    display: block;
  }
  .header__changer{
    display: none;
  }
}

@media(max-width: 1024px){
  .main{
    flex-direction: column;
  }
  .main__block{
    width: 100%;
    min-height:auto;
  }
  .main__block-left p{
    width:100%;
  }
  .main__block-left h3{
    padding: 20px 50px;
  }
  .main__block-left{
    padding: 30px 15px;
    background-size: auto 100%;
    background-position: center;
  }
  .main__form input{
    width: 80%;
  }
  .main__form button{
    width: 50%;
  }
  .article{
    gap:0px;
  }
  .video__block{
    width: 100%;
    height: auto;
    padding:30px 5px;
  }
  .footer{
    flex-direction: column;
  }
}
.alert{
  font-size: 30px;
}